@tailwind base;
@tailwind components;
@tailwind utilities;

.noise-background {
  opacity: 0.05;
  background-image: url("../../public/noise.svg");

  background-repeat: repeat; /* Repeat the pattern */
  background-attachment: fixed;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #1a1a1a #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
  border-radius: 16px;
}

.hidden-object {
  opacity: 0;

  transform: translateY(200px);
  transition: all 0.8s ease-out;
}

.show-object {
  opacity: 1;

  transform: translateY(0);
}
